  <head>
  <!-- setting the character set, style and allow adjustment for mobile devices
	-->
  
        <meta charset="utf-8">
        <meta name="viewport" width="device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="Emily M. Taylor">
        
        <title>{{ page.title }} | Emily M. Taylor | Data Scientist, Data Analyst, Project Manager</title>		
        
        <!-- styles -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/jumbotron-narrow.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        {% include analytics.html %}	
        
        
  </head>
